# 22 September 2025 (Monday)

In [1]:
import numpy as np

diff float and float64 and float32 ---> Imp in deep learning

In [ ]:
df = read.csv("")

In [2]:
df.info() #compact information
#shape

NameError: name 'df' is not defined

In [ ]:
df.heap(57).tail(1)

##Loc AND iloc

In [ ]:
#57 th row
df.iloc[56,:]

#iloc [row number , column number]
#: every things

In [ ]:
df.iloc[:,:] #entire dataset

In [ ]:
df.iloc[56] #row number

**Show me the product category of the 57th product**

In [ ]:
df.iloc[57,1]

In [ ]:
df['category'][56]

In [ ]:
df[['Price','Quantity']]

In [ ]:
df[['Price','Quantity']].head(2).tail(1) # access 2nd row

**Give me the product category and quantity for the 10th product**

In [ ]:
df[['Category','Quantity']].head(10).tail(1)

In [ ]:
df.iloc[]

## Basic Staticstics

**imp for project kaggle assignemt**

Which is the most expansive product
- We have to find max of price

In [ ]:
df["Price"].max()

Which is the least expansive product
- We have to find min of price

In [ ]:
df["Price"].min()

which name the product with min and max?

**filtering part** you have to learn

**Question**   
what is the range of Price?

In [ ]:
maximum = df['Price'].max()
minimum = df['Price'].min()
range = maximum - minimum

**Question**  
Total product my shop has sold?

In [ ]:
#sum of all the Quantity
df.['Quantity'].sum()

**convert float or decimal to the num or int**

In [ ]:
# you can use ##int() to conver float to int

In [ ]:
df.['Quantity'].mean()
df.['Quantity'].median()
df.['Quantity'].mode()

**Two column togeter**

In [ ]:
df[['Price','Quantity']].max()

In [ ]:
df.describe()

## Null values and Dropping

In [2]:
df.isnull() # Return True or False

NameError: name 'df' is not defined

- True = 1
- False = 0

In [ ]:
df.isnull().sum() #provide the count of (True) each $column wise$

In [ ]:
df.isnull().sum().sum() # Total value missing in the data

In [ ]:
df.dropna() #drop rows with missing values

In [ ]:
df.dropna(inplace = True)
# to make the change to actually modify this

In [ ]:
df.fillna() 
#fill the null value
# value can be 0 
# average or mean()
#for catogarical mode we can do

In [ ]:
mean = df["Price"].mean()
df["Price"].fillna(mean)

In [ ]:
#specific for categorical columns
df['Category'].unique()

In [ ]:
df['Category'].vlaue_counts()

What was the toal earning of the store?   
some of revenue