# GA 1 week 1

## import data

In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('Week1_GA_dataset.csv')

## Knowing data

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8747 non-null   object
 3   Estimated Value    8757 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8771 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [21]:
df['Property'].unique()

array(['Single Family', 'Two Family', '?', 'Three Family', 'Four Family'],
      dtype=object)

In [22]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [23]:
df.shape

(10000, 12)

## 1
How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.    

Remove/Delete - means it will show NAN in place of "?"    

**Note:** If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [24]:
df.replace('?', np.nan,inplace=True)

In [25]:
df.isna().sum().sum()

5548

## 3
What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)   
rows/ columns starts indexing from zero(0) in python

In [26]:
df.iloc[692 , 0]

'2009-11-16'

## 4
What is the value present at the 546th indexed row and 7th indexed column in the data ?   

 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [27]:
df.iloc[546 , 7]

3

## 5

What are the unique values present in the Locality feature of the dataset?

- A) [Detached House, Duplex, Triplex, Fourplex]

- B) [Bridgeport, Fairfield, Greenwich, Norwalk,Stamford,Waterbury, West Hartford]

- C) [Boston, California, Greenwich, Stamford]

- D) [West Hartford, Waterbury, Norwalk]

In [28]:
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

## 6
Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

- A) Year

- B) Estimated Value

- C) Sale Price

- D) Locality

- E) Property

- F) property_tax_rate

In [29]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

## 7
Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?") 

- A) Locality

- B) Estimated Value

- C) Property

- D) carpet_area

In [30]:
df.isna().sum().max()

1823

## 8 
 Drop all the samples(rows) with missing values strictly greater than 2. 
How many samples remains after that ?
 (Note: compute after removing "?")

In [31]:
df_cleaned = df[df.isna().sum(axis= 1)<2]

In [32]:
df_cleaned.shape[0]

9086

## 9
Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 (Note: compute after removing "?")

In [33]:
df.dropna().shape

(5449, 12)